{% extends 'contact.html' %}

{% block content %}


<section class="contact_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6><a>First Name</a></h6>
                        <p></p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6><a>Last Name</a></h6>
                        <p></p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6><a>User Name</a></h6>
                        <p></p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a>Email Address</a></h6>
                        <p></p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6><a>Password</a></h6>
                        <p></p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6><a>Confirm Password</a></h6>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form class="row contact_form" action="{% url 'join-us' %}" method="post" id="contactForm" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter Your First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Your Last Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter Your User Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password1" id="password1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="primary_btn">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



{% endblock %}